@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-50 text-slate-900;
}
@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }
}